<%- include('./partials/header') %>


<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui center aligned huge grey header">
            Liste des rendez-vous du patient
        </div>
    </div>
    <div class="sixteen wide center aligned column">
        <button class="ui green button" id="ajouterPatient">
            <i class="icon plus"></i>
            Ajouter un rendez-vous
        </button>
    </div>
    <div class="sixteen wide center aligned column">
        <table class="ui celled inverted table">
            <thead>
              <tr>
                <th class="center aligned">Date et heure</th>
                <th class="center aligned">Objet</th>
                <th class="center aligned">Nom</th>
                <th class="center aligned">Supprimer</th>
                <th class="center aligned">Modifier</th>
                <th class="center aligned">Imprimer</th>
              </tr>
            </thead>
            <tbody>
                <%results.forEach(function(result){%>
                    <tr>
                      <th class="center aligned"><%=result.date.toISOString().split('T')[0]%></th>
                      <th class="center aligned"><%=result.objet%></th>
                      <th class="center aligned"><%=result.patient.nom%></th>
                        <th class="center aligned">
                            <form action="/rdv/<%=result.id%>?_method=DELETE" method="post">
                                <button class="circular ui icon red aligned button" type="submit">
                                    <i class="trash icon"></i>
                                </button>
                            </form>                            
                        </th>
                      <th class="center aligned">
                        <button class="circular ui icon primary aligned button"
                            onclick="$('.ui.modal.<%=result.id%>')
                            .modal('show');">
                                <i class="edit icon"></i>
                        </button>
                    </th>
                    <th class="center aligned">
                        <a class="circular ui icon aligned button"
                            href="http://localhost:5000/rdv/<%=result.id%>/
                            <%=result.date%>/<%=result.objet%>">
                            <i class="print icon"></i>
                        </a>
                    </th>  
                  </tr>
                  <div class="ui modal <%=result.id%>">
                    <div class="ui center aligned grey huge header">
                        Ajouter un rendez-vous
                    </div>
                    <div class="ui center aligned grey small header">
                        Saisir les informations du rendez-vous
                    </div>
                    <div class="content">
                        <form class="ui form" method="POST" action="/rdv/<%=result.id%>?_method=PUT">
                            <div class="field">
                              <label>Date et heure</label>
                              <input type="datetime-local" name="date">
                            </div>
                            <div class="field">
                                <label>Objet</label>
                                <input type="text" name="objet" placeholder="Objet">
                            </div>  
                            <div class="center aligned field">
                                <button class="ui green button" type="submit">
                                    Ajouter
                                </button>
                            </div>          
                        </form>
                    </div>
                </div>
                <%})%>
            </tbody>
          </table>
    </div>
</div>


<div class="ui modal add">
    <div class="ui center aligned grey huge header">
        Ajouter un rendez-vous
    </div>
    <div class="ui center aligned grey small header">
        Saisir les informations du rendez-vous
    </div>
    <div class="content">
        <form class="ui form" method="POST" action="/rdv/<%=id%>">
            <div class="field">
              <label>Date et heure</label>
              <input type="datetime-local" name="date">
            </div>
            <div class="field">
                <label>Objet</label>
                <input type="text" name="objet" placeholder="Objet">
            </div>  
            <div class="center aligned field">
                <button class="ui green button" type="submit">
                    Ajouter
                </button>
            </div>          
        </form>
    </div>
</div>

<%- include('./partials/footer') %>